#references {
  width: 40%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

#references .referenceGroup {
  width: 100%;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem;   
}

#references .referenceGroup p {
  color: white;   
  text-align: left;
}

#references .referenceGroup div {
  height: 20px !important; 
  width: 20px !important;
  border-radius: 50%;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

#references .circleJusticia {  
  background-color: #ffc533;   
}

#references .circleFederal {  
  background-color: #f34739;   
}

#references .circleAdministrativo {  
  background-color: #ff6e27;  
}

@media screen and (max-width: 1056px) {
  #references {
    width: 100%;
    max-width: 100%;
   /*  margin: auto;  */     
  }
}

@media screen and (max-width: 768px) {
  #references .referenceGroup p {
    font-size: 0.8rem;  
    width: 60%;    
  }
}


